* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#page {
    display: flex;
    flex-flow: column;
    height: 100%;

    width: 80%;
    margin: 0 auto;

    text-align: center;
}

#page #input {
    flex: 0 1 auto;
}

#page #graph {
    flex: 1 1 auto;

    margin: 40px;

    background-color: #f5f5f5;

    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.21);
       -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.21);
            box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.21);
}
